@{
    ViewData["Title"] = User.Identity?.Name;
}

<div>
    @if (signInManager.IsSignedIn(User) && User.IsInRole("admin"))
    {
        <a class="link" asp-controller="Admin" asp-action="Index">Admin</a>
    }
</div>