@model LoginViewModel
@{ViewData["Title"] = "Log In";}

<div class="d-flex justify-content-center">
    <div class="login col-6">
        <form asp-action="Index" method="post" novalidate>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <small><span asp-validation-for="Email" class="text-danger"></span></small>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <small><span asp-validation-for="Password" class="text-danger"></span></small>
            </div>

            <button type="submit">Log In</button>
        </form>
        <h4>Not a member? Register here</h4>
        <input type="button" value="Register" onclick="@("window.location.href='" + @Url.Action("Register", "Login") + "'");" />
    </div>
</div>
