@model LoginViewModel
@{ViewData["Title"] = "Log In";}

<div class="d-flex justify-content-center">
    <div class="login col-6">
        <h2>Log in to your account</h2>
        <form asp-action="Index" method="post" novalidate>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <small><span asp-validation-for="Email" class="text-danger"></span></small>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <small><span asp-validation-for="Password" class="text-danger"></span></small>
            </div>

            <div class="form-checkbox-group mb-2">
                <label class"="custom-checkbox">
                <label asp-for="KeepLoggedIn"></label>
                <input asp-for="KeepLoggedIn" />
                <span class="checkmark"></span>
                </label>
            </div>

            <button class="btn-theme" type="submit">LogIn</button>
        </form>
    

        <a onclick="@("window.location.href='" + @Url.Action("Register", "Login") + "'");">Not a member? Register here</a>
      
    </div>

</div>

<style>
    .login {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 30px;
    }

    a{
        color: #fa3150;
        text-decoration:none;
    }

</style>
