@inject UserAdminService userAdminService;

@{
    ViewData["Title"] = "admin";
}


<div class="container">
<h3>Users and roles</h3>
@foreach (var user in await userAdminService.GetUsersAsync())
{

        <div class="users">
            Email: @user.Email
            @foreach (var role in user.Roles)
            {
                <div>Role: @role</div>
            }
        </div>
    
}

</div>