<partial name="/Views/Partials/_Breadcrumb.cshtml" />
@model ContactFormModel


<section class="contact-form">
    <div class="container">

        <form method="post" novalidate>

             <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="name form-group">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" value="@ViewBag.Name" />
                <small><span asp-validation-for="Name" class="text-danger"></span></small>
            </div>
            <div class="email form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" value="@ViewBag.Name" />
                <small><span asp-validation-for="Email" class="text-danger"></span></small>
            </div>
            <div class="phoneNumber form-group">
                <label asp-for="Phone" class="form-label"></label>
                <input asp-for="Phone" class="form-control" />
            </div>
            <div class="companyName form-group">
                <label asp-for="Company" class="form-label"></label>
                <input asp-for="Company" class="form-control" />
            </div>
            <div class="message form-group">
                <label asp-for="Message" class="form-label"></label>
                <textarea asp-for="Message" class="form-control"></textarea>
                <small><span asp-validation-for="Message" class="text-danger"></span></small>
            </div>
            <div class="terms form-checkbox-group">
                <label class="form-check-label"></label>                    
                <input type="checkbox" class="form-check-input" />
                    Save my name, email in the this browser for the next time I comment.

                    
                    

            </div>
            <button class="btn-theme mb-2">Submit</button>
        </form>

        <div class="alert">
            @ViewBag.SuccessMessage
        </div>
    </div>
</section>

<section class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3323.846379992451!2d18.021943310261673!3d59.34492585222009!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x465f9d9d263b022d%3A0x82fc0f30ed84f9ed!2sNackademin!5e0!3m2!1ssv!2sse!4v1679451477145!5m2!1ssv!2sse" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>
